VIDEOJUEGOS {
	font-family:"times new roman",serif
}
VIDEOJUEGOS:first-child:before {
	content: "VIDEOJUEGOS";
	display: block;
	text-align: center;
	font-size: 48pt;
	color: blue
}
titulo:before{
	
}
